{% extends 'admin/admin.base.html.twig' %}
 {% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">accueil</a>
        </li>
        <li class="breadcrumb-item active">Administrateurs</li>
    </ol>
    <div class="row">
        <div class="col-12 col-md-8"><h3>liste des administrateurs </h3></div>
        <div class="col-6 col-md-4">

    <button id="addNewRow" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" >ajouter administrateur</button>
        </div>
    </div>
    <table class="table table-striped table-dark">
        <thead>

        <tr>
            <th scope="col" >Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Adresse e-mail</th>
            <th scope="col"> mot de passe </th>
            <th scope="col">Action </th>

        </tr>
        </thead>
        <tbody>
    {%for user in users %}

        <tr>

            <td> {{  user.nom }}</td>
            <td>  {{  user.prenom }}</td>
            <td>  {{  user.email }}</td>
            <td>  {{  user.password }}</td>

            <td><a href="/users/edit/{{ user.id }}"> modifier    </a>
                <a href="/users/delete/{{ user.id }}"> supprimer    </a> </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
 {#MODAL ADD#}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="container">
                        <div class="row">
                            <div class="col">

                            </div>
                            <div class="col-6">
                              <h3>Ajout</h3>
                            </div>
                            <div class="col">

                            </div>
                        </div>
                    <div class="modal-body">

                        {{  form_start(form) }}
                        {{  form_widget(form) }}
                         {{  form_end(form) }}

                        <div class="row">

                        </div>




                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#EDIT#}



{% endblock %}