{% extends 'client/client.base.html.twig' %}
{% block  stylesheets %}
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/green-style.css" rel="stylesheet">
    <link href="/css/date.css" rel="stylesheet">

{% endblock %}
{% block javascripts %}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/viewportchecker.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/bootsnav.js"></script>
    <script src="/js/bootstrap-wysihtml5.js"></script>
    <script src="/js/datedropper.min.js"></script>
    <script src="/js/dropzone.js"></script>
    <script src="/js/gmap3.min.js"></script>
    <script src="/js/jquery.easy-autocomplete.min.js"></script>
    <script src="/js/loader.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/wysihtml5-0.3.0.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/jQuery.style.switcher.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#styleOptions').styleSwitcher();
        });
    </script>
    {% endblock %}
{% block body %}

    <div class="Loader"></div>
    <div class="wrapper">
        <nav class="navbar navbar-default navbar-light white bootsnav">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"><i
                            class="fa fa-bars"></i></button>
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><img
                                src="http://codeminifier.com/new-job-stock/job-stock/assets/img/logo.png"
                                class="logo logo-scrolled" alt=""></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">

                    </ul>
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li><a href="login.html"><i class="fa fa-pencil" aria-hidden="true"></i>SignUp</a></li>
                        <li><a href="pricing.html"><i class="fa fa-sign-in" aria-hidden="true"></i>Pricing</a></li>
                        <li class="left-br"><a href="javascript:void(0)" data-toggle="modal" data-target="#signup"
                                               class="signin">Sign In Now</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="clearfix"></div>
        <div class="simple-banner" style="background-image:url(assets/img/simple-banner.jpg);">
            <div class="container">
                <div class="simple-banner-caption">
                    <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 banner-text">
                        <h3>We Are Available On</h3>
                        <h1>Job <span>Stock</span></h1></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <section class="bottom-search-form">
            <div class="container">
                <form class="bt-form">
                    <div class="input-group">
                        <select id="choose-city" class="form-control select2-hidden-accessible"
                                data-select2-id="choose-city" tabindex="-1" aria-hidden="true">
                            <option data-select2-id="2">Choose City</option>
                            <option data-select2-id="5">Chandigarh</option>
                            <option data-select2-id="6">London</option>
                            <option data-select2-id="7">England</option>
                            <option data-select2-id="8">Pratapcity</option>
                            <option data-select2-id="9">Ukrain</option>
                            <option data-select2-id="10">Wilangana</option>
                        </select><span
                                class="select2 select2-container select2-container--default select2-container--above select2-container--focus"
                                dir="ltr" data-select2-id="1" style="width: 292px;">
                            <span class="selection">
                                <span
                                        class="select2-selection select2-selection--single" role="combobox"
                                        aria-haspopup="true" aria-expanded="false" tabindex="0"
                                        aria-labelledby="select2-choose-city-container"><span
                                            class="select2-selection__rendered" id="select2-choose-city-container"
                                            role="textbox" aria-readonly="true"
                                            title="Choose City">Choose City</span><span class="select2-selection__arrow"
                                                                                        role="presentation"><b
                                                role="presentation"></b></span></span></span><span
                                    class="dropdown-wrapper" aria-hidden="true"></span></span>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-sm-6">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">



                                        {#<div class="input-group">#}
                                            <select  id="choose-city" class="form-control">
                                        {#<option >Destination</option>#}
                                        <option>Destination</option>
                                        <option>Ariana</option>
                                        <option>Béja</option>
                                        <option>Ben Arous</option>
                                        <option>Bizerte</option>
                                        <option>Gabès</option>
                                        <option>Mahdia</option>
                                        <option>La Manouba</option>
                                        <option>Médenine</option>
                                        <option>Monastir</option>
                                        <option>Nabeul</option>
                                        <option>Sfax</option>
                                        <option>Sousse</option>
                                        <option>Tataouine</option>
                                        <option>Tozeur</option>
                                        <option>Tunis</option>
                                        <option>Zaghouane</option>
                                        <option>Gammarth</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6">

                                    <input type="date" id="arrivee" placeholder="Arrivée .."
                                           onClick="$(this).removeClass('placeholderclass')"
                                           class="form-control right-bor dateclass placeholderclass" id="date">

                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <input type="date" id="depart" placeholder="Départ .."
                                           onClick="$(this).removeClass('placeholderclass')"
                                           class="form-control right-bor dateclass placeholderclass" id="date">
                                </div>


                                <div class="col-md-3 col-sm-6">

                                    <select id="chambre" class="form-control">
                                        <option>Type chambre</option>
                                        <option>single</option>
                                        <option>double</option>
                                        <option>triple</option>

                                    </select>
                                </div>

                                <div class="input-group">
                                    <div class="col-md-2 col-sm-6">

                                        <button type="button" class="btn btn-primary" onclick="SearchHotel()">chercher
                                        </button>


                                    </div>
                                </div>
                            </div>
<<<<<<< HEAD
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <select onchange="budgetChange()" id="budget" class="form-control">

                                <option>Budget</option>
                                <option>20 - 100 </option>
                                <option>100 - 200 </option>
                                <option>200 - 300 </option>
                                <option>300 - 400 </option>
                                <option>400 - 500 </option>
                            </select>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <select onchange="TypehotelChange()" id="type" class="form-control">

                                <option >type hotel</option>
                                <option>5 étoiles</option>
                                <option>4 étoiles</option>
                                <option>3 étoiles</option>
                                <option>2 étoiles</option>
                                <option> 0/1 étoiles</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <select onchange="avisChange()" id="avis" class="form-control">

                                <option>Avis</option>
                                <option>Excellent</option>
                                <option>Bien</option>
                                <option>Convenable</option>
                                <option>Moyen</option>
                            </select>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <select onchange="autresChange()" id="autre" class="form-control">

                                <option>Service Spécifique</option>
                                <option>Piscine</option>
                                <option>Spa</option>
                                <option>Wifi</option>
                                <option>Sport</option>
                                <option>Navette Aéroport</option>
                                <option>Parking</option>
                                <option>Restaurant</option>

                            </select>
                        </div>
=======
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <select onchange="budgetChange()" id="budget" class="form-control">
>>>>>>> 2026451a47eaa88037ba434e4cf6a392d877e55d

                                        <option selected disabled>Budget</option>
                                        <option>20 - 100</option>
                                        <option>100 - 200</option>
                                        <option>200 - 300</option>
                                        <option>300 - 400</option>
                                        <option>400 - 500</option>
                                    </select>
                                </div>

                                <div class="col-md-3 col-sm-6">
                                    <select onchange="TypehotelChange()" id="type" class="form-control">

                                        <option selected disabled>type hotel</option>
                                        <option>5 étoiles</option>
                                        <option>4 étoiles</option>
                                        <option>3 étoiles</option>
                                        <option>2 étoiles</option>
                                        <option> 0/1 étoiles</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <select onchange="avisChange()" id="avis" class="form-control">

                                        <option selected disabled>Avis</option>
                                        <option>Excellent</option>
                                        <option>Bien</option>
                                        <option>Convenable</option>
                                        <option>Moyen</option>
                                    </select>
                                </div>

                                <div class="col-md-3 col-sm-6">
                                    <select onchange="autresChange()" id="autre" class="form-control">

                                        <option selected disabled>Service Spécifique</option>
                                        <option>Piscine</option>
                                        <option>Spa</option>
                                        <option>Wifi</option>
                                        <option>Sport</option>
                                        <option>Navette Aéroport</option>
                                        <option>Parking</option>
                                        <option>Restaurant</option>

                                    </select>
                                </div>


                            </div>
                </form>
            </div>

            <script>
                var oldCriteria = window.location.search;
                var criteriaArray = oldCriteria.split("&");
                criteriaArray = criteriaArray.filter(function (elem) {
                    return elem !== "?"
                });
                for (var i = 0; i < criteriaArray.length; i++) {
                    var crit = criteriaArray[i].split("=");
                    document.getElementById(crit[0]).value = decodeURIComponent(crit[1]);
                }

                function SearchHotel() {
                    var destination = document.getElementById('choose-city');
                    var selectedDestination = destination.options[destination.selectedIndex].value;
                    var arrivee = document.getElementById('arrivee').value;
                    var depart = document.getElementById('depart').value;
                    var chambre = document.getElementById('chambre');
                    var selectedChambre = chambre.options[chambre.selectedIndex].value;
                    var criteria = '?';
                    if (selectedDestination !== "Destination") {
                        criteria += "&destination=" + selectedDestination;
                    }
                    if (arrivee !== "") {
                        criteria += "&arrivee=" + arrivee;
                    }
                    if (depart !== "") {
                        criteria += "&depart=" + depart;
                    }
                    if (selectedChambre !== "Type chambre") {
                        criteria += "&chambre=" + selectedChambre;
                    }
                    window.location.href = "http://127.0.0.1:8000/resultat" + criteria;

                }
                function avisChange() {
                    var avis = document.getElementById('avis').options[document.getElementById('avis').selectedIndex].value;
                    if (!oldCriteria.includes("avis")) {
                        if (oldCriteria === "") {
                            oldCriteria += "?";
                        }
                        oldCriteria += "&avis=" + avis;
                        window.location.href = "http://127.0.0.1:8000/resultat" + oldCriteria;
                    } else {
                        var criteriaArray = oldCriteria.split("&");
                        criteriaArray = criteriaArray.filter(function (elem) {
                            return elem !== "?"
                        });
                        for (var i = 0; i < criteriaArray.length; i++) {
                            var crit = criteriaArray[i].split("=");
                            if (crit[0] === "avis") {
                                oldCriteria = oldCriteria.replace(crit[1], avis);
                            }
                        }
                        window.location.href = "http://127.0.0.1:8000/resultat" + oldCriteria;
                    }
                }
                function TypehotelChange() {
                    var typehotel = document.getElementById('type').options[document.getElementById('type').selectedIndex].value;
                    if (!oldCriteria.includes("type")) {
                        if (oldCriteria === "") {
                            oldCriteria += "?";
                        }
                        oldCriteria += "&type=" + typehotel;
                        window.location.href = "http://127.0.0.1:8000/resultat" + oldCriteria;
                    } else {
                        var criteriaArray = oldCriteria.split("&");
                        criteriaArray = criteriaArray.filter(function (elem) {
                            return elem !== "?"
                        });
                        for (var i = 0; i < criteriaArray.length; i++) {
                            var crit = criteriaArray[i].split("=");
                            if (crit[0] === "type") {
                                oldCriteria = oldCriteria.replace(crit[1], typehotel);
                            }
                        }
                        window.location.href = "http://127.0.0.1:8000/resultat" + oldCriteria;
                    }
                }
                function budgetChange() {
                    var budget = document.getElementById('budget').options[document.getElementById('budget').selectedIndex].value;
                    if (!oldCriteria.includes("budget")) {
                        if (oldCriteria === "") {
                            oldCriteria += "?";
                        }
                        oldCriteria += "&budget=" + budget;
                        window.location.href = "http://127.0.0.1:8000/resultat" + oldCriteria;
                    } else {
                        var criteriaArray = oldCriteria.split("&");
                        criteriaArray = criteriaArray.filter(function (elem) {
                            return elem !== "?"
                        });
                        for (var i = 0; i < criteriaArray.length; i++) {
                            var crit = criteriaArray[i].split("=");
                            if (crit[0] === "budget") {
                                oldCriteria = oldCriteria.replace(crit[1], budget);
                            }
                        }
                        window.location.href = "http://127.0.0.1:8000/resultat" + oldCriteria;
                    }
                }
                function autresChange() {
                    var autres = document.getElementById('autre').options[document.getElementById('autre').selectedIndex].value;
                    if (!oldCriteria.includes("autre")) {
                        if (oldCriteria === "") {
                            oldCriteria += "?";
                        }
                        oldCriteria += "&autre=" + autres;
                        window.location.href = "http://127.0.0.1:8000/resultat" + oldCriteria;
                    } else {
                        var criteriaArray = oldCriteria.split("&");
                        criteriaArray = criteriaArray.filter(function (elem) {
                            return elem !== "?"
                        });
                        for (var i = 0; i < criteriaArray.length; i++) {
                            var crit = criteriaArray[i].split("=");
                            if (crit[0] === "autre") {
                                oldCriteria = oldCriteria.replace(crit[1], autres);
                            }
                        }
                        window.location.href = "http://127.0.0.1:8000/resultat" + oldCriteria;
                    }
                }


            </script>
        </section>
        <section class="brows-job-category">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>We found {{ hotels | length }} Hotels</h2></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% for hotel in hotels %}
                            <div class="item-click">
                                <article>
                                    <div class="brows-job-list">
                                        <div class="col-md-1 col-sm-2 small-padding">
                                            <div class="brows-job-company-img">
                                                <a href="job-detail.html"><img src="{{ hotel.image }}"
                                                                               class="img-responsive" alt=""/></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-5">
                                            <div class="brows-job-position"><a href="job-detail.html">
                                                    <h3>{{ hotel.nomhotel }}</h3></a>
                                                <p><span class="brows-job-sallery">
                                                    <i class="fa fa-star"></i>
                                                        {{ hotel.note }}
                                                </span>
                                                    <span
                                                            class="job-type cl-success bg-trans-success">{{ hotel.typehotel }}</span>
                                                    <span>
                                                </span>
                                                    <br>
                                                    <span class="brows-job-sallery"> {{ hotel.service }}</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <div class="brows-job-location">
                                                <p><i class="fa fa-map-marker"></i>{{ hotel.positionhotel }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="brows-job-link"><a href="/hotel/{{ hotel.id }}"
                                                                           class="btn btn-primary">Voir offres</a></div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <!-- Download app Section Start -->
    </div>

    <div class="clearfix"></div>
    <!-- Download app Section End -->
    <footer class="footer">

        <div class="row copyright">
            <div class="container">
                <p>Copyright Job Stock © 2017. All Rights Reserved </p>
            </div>
        </div>
    </footer>
    <div class="clearfix"></div>

{% endblock %}
{% block content %}

    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Images hotel</h4>
                </div>
                <div class="modal-body">
                    <p><img src="{{ hotel.image.imagehotel }}"
                            class="img-responsive" alt=""/></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}