{% extends 'client/client.base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>


        .dropdown-toggle{
            background: #42525f;
            border-radius: 2px;
            height: 52px;
            margin-bottom: 10px;
            border: 1px solid #4f616f;
            width: 100%;
            color: #99abb9;
        }

        .bootstrap-select {
            background: #42525f;
            border-radius: 2px;
            height: 52px;
            margin-bottom: 10px;
            border: 1px solid #4f616f;
            width: 100%;
            color: #99abb9;
        }
        .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-] {
            border: 1px solid #4f616f;

        }
    </style>

{% endblock %}
{% block body %}

    <div class="Loader"></div>
    <div class="wrapper">
        <nav class="navbar navbar-default navbar-light white bootsnav">
            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"><i
                            class="fa fa-bars"></i></button>
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><img
                                src="http://codeminifier.com/new-job-stock/job-stock/assets/img/logo.png"
                                class="logo logo-scrolled" alt=""></a>
                </div>

            </div>
        </nav>
        <div class="clearfix"></div>
        <div class="simple-banner" style="background-image:url(img/image.jpg);">
            <div class="container">
                <div class="simple-banner-caption">
                    <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 banner-text">
                        <h3>We Are Available On</h3>
                        <h1>Job <span>Stock</span></h1></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <section class="bottom-search-form">
            <div class="container">
                <form class="bt-form">
                    <div class="row">
                        <div class="col-md-10 col-sm-6">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <select id="choose-city" class="form-control selectpicker" data-show-subtext="true"
                                            data-live-search="true">

                                        <option selected disabled>Destination</option>
                                        <option data-subtext="Ariana">Ariana</option>
                                        <option>Béja</option>
                                        <option>Ben Arous</option>
                                        <option>Bizerte</option>
                                        <option>Gabès</option>
                                        <option>Mahdia</option>
                                        <option>La Manouba</option>
                                        <option>Médenine</option>
                                        <option>Monastir</option>
                                        <option>Nabeul</option>
                                        <option>Sfax</option>
                                        <option>Sousse</option>
                                        <option>Tataouine</option>
                                        <option>Tozeur</option>
                                        <option>Tunis</option>
                                        <option>Zaghouane</option>
                                        <option>Gammarth</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <input type="date" id="arrivee" placeholder="Arrivée .." onClick="$(this).removeClass('placeholderclass')" class="form-control right-bor dateclass placeholderclass"  id="date" >
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <input type="date" id="depart" placeholder="Départ .." onClick="$(this).removeClass('placeholderclass')" class="form-control right-bor dateclass placeholderclass"  id="date" >
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <select id="chambre" class="form-control">
                                        <option disabled selected>Type Chambre</option>
                                        <option>Single</option>
                                        <option>Double</option>
                                        <option>Triple</option>
                                        <option>Quadriple</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                            <div class="col-md-2 col-sm-6">

                                <button type="button" class="btn btn-primary "   onclick="SearchHotel()">chercher</button>


                            </div>


                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <select onchange="budgetChange()" id="budget" class="form-control">

                                <option selected disabled>Budget</option>
                                <option>20 - 100</option>
                                <option>100 - 200</option>
                                <option>200 - 300</option>
                                <option>300 - 400</option>
                                <option>400 - 500</option>
                            </select>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <select onchange="TypehotelChange()" id="type" class="form-control">

                                <option selected disabled>type hotel</option>
                                <option>5 étoiles</option>
                                <option>4 étoiles</option>
                                <option>3 étoiles</option>
                                <option>2 étoiles</option>
                                <option> 0/1 étoiles</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <select onchange="avisChange()" id="avis" class="form-control">

                                <option selected disabled>Avis</option>
                                <option>Excellent</option>
                                <option>Bien</option>
                                <option>Convenable</option>
                                <option>Moyen</option>
                            </select>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <select onchange="autresChange()" id="autre" class="form-control">

                                <option selected disabled>Service Spécifique</option>
                                <option>Piscine</option>
                                <option>Spa</option>
                                <option>Wifi</option>
                                <option>Sport</option>
                                <option>Navette Aéroport</option>
                                <option>Parking</option>
                                <option>Restaurant</option>

                            </select>
                        </div>


                    </div>
                </form>
            </div>

            <script>
                var oldCriteria = window.location.search;
                var criteriaArray = oldCriteria.split("&");
                criteriaArray = criteriaArray.filter(function (elem) {
                    return elem !== "?"
                });
                for (var i = 0; i < criteriaArray.length; i++) {
                    var crit = criteriaArray[i].split("=");
                    document.getElementById(crit[0]).value = decodeURIComponent(crit[1]);
                }

                function SearchHotel() {
                    var destination = document.getElementById('choose-city');
                    var selectedDestination = destination.options[destination.selectedIndex].value;
                    var arrivee = document.getElementById('arrivee').value;
                    var depart = document.getElementById('depart').value;
                    var chambre = document.getElementById('chambre');
                    var selectedChambre = chambre.options[chambre.selectedIndex].value;
                    var criteria = '?';
                    if (selectedDestination !== "Destination") {
                        criteria += "&destination=" + selectedDestination;
                    }
                    if (arrivee !== "") {
                        criteria += "&arrivee=" + arrivee;
                    }
                    if (depart !== "") {
                        criteria += "&depart=" + depart;
                    }
                    if (selectedChambre !== "Type chambre") {
                        criteria += "&chambre=" + selectedChambre;
                    }
                    window.location.href = "http://127.0.0.1:8000/resultat" + criteria;

                }
                function avisChange() {
                    var avis = document.getElementById('avis').options[document.getElementById('avis').selectedIndex].value;
                    if (!oldCriteria.includes("avis")) {
                        if (oldCriteria === "") {
                            oldCriteria += "?";
                        }
                        oldCriteria += "&avis=" + avis;
                        window.location.href = "http://127.0.0.1:8000/resultat" + oldCriteria;
                    } else {
                        var criteriaArray = oldCriteria.split("&");
                        criteriaArray = criteriaArray.filter(function (elem) {
                            return elem !== "?"
                        });
                        for (var i = 0; i < criteriaArray.length; i++) {
                            var crit = criteriaArray[i].split("=");
                            if (crit[0] === "avis") {
                                oldCriteria = oldCriteria.replace(crit[1], avis);
                            }
                        }
                        window.location.href = "http://127.0.0.1:8000/resultat" + oldCriteria;
                    }
                }
                function TypehotelChange() {
                    var typehotel = document.getElementById('type').options[document.getElementById('type').selectedIndex].value;
                    if (!oldCriteria.includes("type")) {
                        if (oldCriteria === "") {
                            oldCriteria += "?";
                        }
                        oldCriteria += "&type=" + typehotel;
                        window.location.href = "http://127.0.0.1:8000/resultat" + oldCriteria;
                    } else {
                        var criteriaArray = oldCriteria.split("&");
                        criteriaArray = criteriaArray.filter(function (elem) {
                            return elem !== "?"
                        });
                        for (var i = 0; i < criteriaArray.length; i++) {
                            var crit = criteriaArray[i].split("=");
                            if (crit[0] === "type") {
                                oldCriteria = oldCriteria.replace(crit[1], typehotel);
                            }
                        }
                        window.location.href = "http://127.0.0.1:8000/resultat" + oldCriteria;
                    }
                }
                function budgetChange() {
                    var budget = document.getElementById('budget').options[document.getElementById('budget').selectedIndex].value;
                    if (!oldCriteria.includes("budget")) {
                        if (oldCriteria === "") {
                            oldCriteria += "?";
                        }
                        oldCriteria += "&budget=" + budget;
                        window.location.href = "http://127.0.0.1:8000/resultat" + oldCriteria;
                    } else {
                        var criteriaArray = oldCriteria.split("&");
                        criteriaArray = criteriaArray.filter(function (elem) {
                            return elem !== "?"
                        });
                        for (var i = 0; i < criteriaArray.length; i++) {
                            var crit = criteriaArray[i].split("=");
                            if (crit[0] === "budget") {
                                oldCriteria = oldCriteria.replace(crit[1], budget);
                            }
                        }
                        window.location.href = "http://127.0.0.1:8000/resultat" + oldCriteria;
                    }
                }
                function autresChange() {
                    var autres = document.getElementById('autre').options[document.getElementById('autre').selectedIndex].value;
                    if (!oldCriteria.includes("autre")) {
                        if (oldCriteria === "") {
                            oldCriteria += "?";
                        }
                        oldCriteria += "&autre=" + autres;
                        window.location.href = "http://127.0.0.1:8000/resultat" + oldCriteria;
                    } else {
                        var criteriaArray = oldCriteria.split("&");
                        criteriaArray = criteriaArray.filter(function (elem) {
                            return elem !== "?"
                        });
                        for (var i = 0; i < criteriaArray.length; i++) {
                            var crit = criteriaArray[i].split("=");
                            if (crit[0] === "autre") {
                                oldCriteria = oldCriteria.replace(crit[1], autres);
                            }
                        }
                        window.location.href = "http://127.0.0.1:8000/resultat" + oldCriteria;
                    }
                }


            </script>
        </section>
        <section class="brows-job-category">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>We found {{ hotels | length }} Hotels</h2></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% for hotel in hotels %}
                            <div class="item-click">
                                <article>
                                    <div class="brows-job-list">
                                        <div class="col-md-1 col-sm-2 small-padding">
                                            <div class="brows-job-company-img">
                                                <a ><img src="{{ hotel.image }}"
                                                                               class="img-responsive" alt=""/></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-5">
                                            <div class="brows-job-position"><a href="job-detail.html">
                                                    <h3>{{ hotel.nomhotel }}</h3></a>
                                                <p><span class="brows-job-sallery">
                                                    <i class="fa fa-star"></i>
                                                        {{ hotel.note }}
                                                </span>
                                                    <span
                                                            class="job-type cl-success bg-trans-success">{{ hotel.typehotel }}</span>
                                                    <span>
                                                </span>
                                                    <br>
                                                    <span class="brows-job-sallery"> {{ hotel.service }}</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <div class="brows-job-location">
                                                <p><i class="fa fa-map-marker"></i>{{ hotel.positionhotel }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <div class="brows-job-link"><a href="/hotel/{{ hotel.id }}"
                                                                           class="btn btn-primary">Voir offres</a></div>
                                        </div>

                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <!-- Download app Section Start -->
    </div>

    <div class="clearfix"></div>
    <!-- Download app Section End -->
    <footer class="footer">

        <div class="row copyright">
            <div class="container">
                <p>Copyright Job Stock © 2017. All Rights Reserved </p>
            </div>
        </div>
    </footer>
    <div class="clearfix"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

{% endblock %}
