{% extends 'client/client.base.html.twig' %}

{% block body %}
    <div class="Loader"></div>
    <div class="wrapper">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default navbar-fixed navbar-light white bootsnav">

            <div class="container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <img src="/img/logo.png" class="logo logo-scrolled" alt="">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                {#  <div class="collapse navbar-collapse" id="navbar-menu">

                   #}
                </div>
        </nav>
    </div>


        </nav>
        <!-- End Navigation -->
        <div class="clearfix"></div>

        <!-- Title Header Start -->
        <section class="inner-header-title no-br advance-header-title" style="background-image:url(/img/capture.png);">
            <div class="container">
                <h2><span>Salut.</span>Trouvez l’hôtel idéal et comparez les prix de différents sites Web</h2>
              {#  <p><span>704</span> new job in the last <span>7</span> days.</p>#}
            </div>
        </section>
        <div class="clearfix"></div>
        <!-- Title Header End -->

        <!-- bottom form section start -->
        {#<section class="bottom-search-form">#}
            {#<div class="container">#}
                {#<form class="bt-form">#}
                    {#<div class="col-md-3 col-sm-6">#}
                        {#<select class="form-control">#}
                            {#<option value="" selected disabled>Destination</option>#}
                            {#<option value="">Ariana</option>#}
                            {#<option value="">Béja</option>#}
                            {#<option value="">Ben Arous</option>#}
                            {#<option value="">Bizerte</option>#}
                            {#<option value="">Gabès</option>#}
                            {#<option value="">Mahdia</option>#}
                            {#<option value="">La Manouba</option>#}
                            {#<option value="">Médenine</option>#}
                            {#<option value="">Monastir</option>#}
                            {#<option value="">Nabeul</option>#}
                            {#<option value="">Sfax</option>#}
                            {#<option value="">Sousse</option>#}
                            {#<option value="">Tataouine</option>#}
                            {#<option value="">Tozeur</option>#}
                            {#<option value="">Tunis</option>#}
                            {#<option value="">Zaghouane</option>#}

                        {#</select>#}
                    {#</div>#}
                    {#<div class="col-md-3 col-sm-6">#}
                        {#<input type="date" placeholder="date arrivé" onclick="$(this).removeClass('placeholderclass')" class= "form-control right-bor dateclass placeholderclass" id="date" >#}
                    {#</div>#}
                    {#<div class="col-md-3 col-sm-6">#}
                        {#<input type="date" placeholder="date depart" onclick="$(this).removeClass('placeholderclass')" class= "form-control right-bor dateclass placeholderclass" id="date" >#}
                    {#</div>#}
                    {#<div class="col-md-3 col-sm-6">#}
                        {#<select class="form-control">#}
                            {#<option>type chambre</option>#}
                            {#<option>single</option>#}
                            {#<option>double</option>#}
                            {#<option>multiple</option>#}

                        {#</select>#}
                    {#</div>#}
                    {#<div class="col-md-3 col-sm-6">#}
                        {#<select class="form-control">#}
                            {#<option>type hotel</option>#}
                            {#<option>5 étoiles</option>#}
                            {#<option>4 étoiles</option>#}
                            {#<option>3 étoiles</option>#}
                            {#<option>2 étoiles</option>#}
                            {#<option>0/1 étoiles</option>#}
                        {#</select>#}
                    {#</div>#}
                    {#<div class="col-md-3 col-sm-6">#}
                        {#<select class="form-control">#}
                            {#<option>avis</option>#}
                            {#<option> Excellent</option>#}
                            {#<option>Bien</option>#}
                            {#<option>Passable</option>#}
                            {#<option>Mauvais</option>#}

                        {#</select>#}
                    {#</div>#}
                    {#<div class="col-md-3 col-sm-6">#}
                        {#<select class="form-control">#}
                            {#<option>adresse</option>#}


                        {#</select>#}
                    {#</div>#}
                    {#<div class="col-md-3 col-sm-6">#}
                        {#<button type="submit" class="btn btn-primary">rechercher</button>#}
                    {#</div>#}
                {#</form>#}
            {#</div>#}
        {#</section>#}

    <table class="table table-striped table-dark">
    <thead>

    <tr>
        <th scope="col" >position hotel </th>
        <th scope="col" >type hotel</th>
        <th scope="col">Action </th>

    </tr>
    </thead>

    {%for hotel in hotels %}

        <tr>

            <td> {{  hotel.getPositionhotel() }}</td>
            <td> {{  hotel.getTypehotel() }}</td>

        </tr>

    {% endfor %}

    <div class="col-md-3 col-sm-6">
    <button type="submit" class="btn btn-primary">chercher</button>
    </div>
    <div class="modal-body">
    {{ form(formRech) }}
    </div>

    {#</form>#}
    {#</div>#}
    </table>



        <!-- Bottom Search Form Section End -->

        <!-- ========== Begin: Brows job Category ===============  -->
        <section class="brows-job-category gray-bg">
            <div class="container">
                <div class="col-md-9 col-sm-12">
                    <div class="full-card">

                        {#<div class="card-header">#}
                            {#<div class="row mrg-0">#}
                                {#<div class="col-md-4 col-sm-4">#}
                                    {#<select class="selectpicker form-control" multiple title="Job Type">#}
                                        {#<option>Full Time</option>#}
                                        {#<option>Part Time</option>#}
                                        {#<option>Freelancer</option>#}
                                        {#<option>Internship</option>#}
                                    {#</select>#}
                                {#</div>#}
                                {#<div class="col-md-4 col-sm-4 small-padd">#}
                                    {#<select class="selectpicker form-control" multiple title="All Categories">#}
                                        {#<option>Teacher Jobs</option>#}
                                        {#<option>Consultant Jobs</option>#}
                                        {#<option>IT Jobs</option>#}
                                        {#<option>Sales Jobs</option>#}
                                        {#<option>Graphic Designer Jobs</option>#}
                                    {#</select>#}
                                {#</div>#}
                                {#<div class="col-md-4 col-sm-4">#}
                                    {#<ol class="breadcrumb pull-right">#}
                                        {#<li><a href="#"><i class="fa fa-home"></i></a></li>#}
                                        {#<li><a href="#">Full Time</a></li>#}
                                        {#<li class="active">IT Jobs</li>#}
                                    {#</ol>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                          {%for hotel in hotels %}
                        <div class="card-body">

                            <article class="advance-search-job">
                                <div class="row no-mrg">
                                    <div class="col-md-6 col-sm-6">
                                        <a href="new-job-detail.html" title="job Detail">
                                            <div class="advance-search-img-box">
                                                <img src="assets/img/com-2.jpg" class="img-responsive" alt="">
                                            </div>
                                        </a>
                                        <div class="advance-search-caption">
                                            <a href="new-job-detail.html" title="Job Dtail"><h4>{{  hotel.nomHotel}}</h4></a>
                                            <span>{{  hotel.typehotel}}</span><br>
                                            <span><i class="fa fa-map-marker"> {{  hotel.adresse}}</i></span><br>

                                            {#<span>{{  offre.chambre.typechambre}} - {{  offre.categoriechambre.categorie}}</span><br>#}
                                            <span>{{  hotel.note}}</span><br>

                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="advance-search-job-locat">
                                            {#<p> {{  offre.agence.nomagence}}   {{  offre.tariflocal}}</p>#}


                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                       <a href="/hotel/{{ hotel.id }}" class="btn advance-search" >Voir l'offre</a>
                                    </div>
                                </div>
                                <span class="tg-themetag tg-featuretag">Premium</span>
                            </article>
                            {% endfor %}


                    <div class="row">
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-ellipsis-h"></i></a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>


            </div>
                    </div>
                </div>
            </div>
        </section>




{% endblock %}